/* Simple Selector*/

body{
background-color: #FFFAF0;

}


/* Simple Selector*/

p{
  background-color:Linen;
}

/* Class Selector*/

h2.important{
    color: Peachpuff;
    font-size: large;
   font-family: Impact,fantasy, 'Arial',sans-serif;
    background-color: Ivory;
    -webkit-text-stroke: 0.75px DarkSeaGreen;}


/* Generic Selector*/

.highlight{
background-color: MistyRose;


}
p{
    background-color: OldLace;
}
